In [65]:
namesGirl = ["Jessica", "Somto", "Edith", "Liza", "Madonna", "Waje", "Tola", "Aisha", "Latifaa"]
agegirl = [ 17, 16, 17, 18, 16, 18, 17, 20, 19, 17]
heightGirl = [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 5.6, 1.6, 0.5, 5.5]
scores = [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]

namesBoy = ['Chinedu', 'Liam', 'Wale', 'Gbenga', 'Abiola', 'Kola', 'Kunle', 'George', 'Thomas', 'Wesley']
ageboy = [19, 16, 18, 17, 20, 19, 16, 18, 17, 19]
heightBoy = [ 5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7]
scoreBoy = [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]
print("Names\t\tage\t\theight\t\t score")
print("-"*60)
for i in range(len(namesBoy)):
    print(namesBoy[i] +"\t\t" + str(ageboy[i]) +"\t\t" + str(heightBoy[i]) + "\t\t" + str(scoreBoy[i]))
for i in range(len(namesGirl)):
     print(namesGirl[i] +"\t\t" + str(agegirl[i]) +"\t\t" + str(heightGirl[i]) + "\t\t" + str(scores[i]))

Names		age		height		 score
------------------------------------------------------------
Chinedu		19		5.7		74
Liam		16		5.9		87
Wale		18		5.8		75
Gbenga		17		6.1		68
Abiola		20		5.9		66
Kola		19		5.5		78
Kunle		16		6.1		87
George		18		5.4		98
Thomas		17		5.8		54
Wesley		19		5.7		60
Jessica		17		5.5		80
Somto		16		6.0		85
Edith		17		5.4		70
Liza		18		5.9		60
Madonna		16		5.6		76
Waje		18		5.5		66
Tola		17		5.6		87
Aisha		20		1.6		95
Latifaa		19		0.5		50